// Specific CSS for your home-page
.episode-index {
  width: 100%;
  height: auto;
  background-color: #444;
  color: white;
  padding: 0 64px;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 32px;
}

.episode-card {
  width: 400px;
  height: 240px;
  padding: 32px;
  background-color: white;
  color: #444;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);

}

.episode-card h5 {
  font-family: "Iceland", sans-serif;
  font-size: 32px;
  color: #004AAD;
  margin: 0;
}
