<div class="episode-container">
  <h3 class="episode-heading"><%= @episode.title %></h3>
  <div class="episode-player">
    Player goes here.
  </div>
  <div class="episode-description">
    <%= @episode.description %>
  </div>
</div>
