<div class="banner-main">
  <div class="banner-left">
  </div>
  <div class="banner-center">
    <%= image_tag("avsf_logo.png", class: "banner-logo") %>
    <h1>AV SuperFriends</h1>
    <h3>Podcasts about audio, video, and adapters</h3>
  </div>
  <div class="banner-right">
    <%= link_to "Listen now", root_path, class: "outline-button"  %>
  </div>
</div>
<div class="episode-index">
  <h3>Latest Episodes</h3>
  <div class="episode-index">
    <% @episodes.each do |episode| %>
      <div class="episode-card">
        <h5><%= episode.title %></h5>
        <%= episode.preview_text %>
      </div>
    <% end %>
  </div>
</div>
