.banner-main {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004aad;
  color: white;
}

.banner-main h1 {
  font-family: "Iceland", sans-serif;
  font-size: 80px;
}
