.outline-button:hover {
  border: 2px solid #ffde59;
  color: #ffde59;
  transform: scale(1.04);
}

.outline-button {
  min-width: 128px;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 16px;
  box-shadow: 2px 2px 0 black;
  border: 2px solid white;
  transition: 0.1s ease-in-out;
  text-shadow: 2px 2px 0 black;
}

.yellow-button {
  background-color: #ffde59;
  color: #444;
}

.logo-button, .home-button{
  font-size: 24px;
  text-shadow: 1px 1px 0px black;
  transition: 0.1s ease-in-out;
}
.logo-button {
  color: white;
}

.logo-button:hover, .home-button {
  color: #ffde59;
  transform: scale(1.1);
}
