.navbar-avsf {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 8px 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;
  position: fixed;
  top: 0;
  overflow: visible;
}

.navbar-link, .navbar-menu {
  text-decoration: none;
  color: white;
  margin: 0;
  font-family: "Tiny5", sans-serif;
  font-size: 24px;
}

.navbar-menu:hover {
  color: white !important;
}

.navbar-menu-content {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

@media(max-width: 800px) {
  .navbar-link {
    display: none;
  }

  .navbar-menu {
    display: show;
  }
}

@media(min-width: 801px) {
  .navbar-menu {
    display: none;
  }
}
